body{
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #1F1F1F;
    color: #f8f9fa;
    /* for darker text: #dee2e6 ?*/
}

.header{
    margin-top: 30px;
    text-align: center;
    height: 160px;
}

.logo{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a.telegram{
    text-decoration: none;
    color: black;
}

a.telegram:hover{
    text-decoration: underline;
}

.main{
    margin-top: 50px;
}


.footer{
    width: 100%;
    height: 200px;
}